@using Website.Common.Models.EAV
@using Website.Common.Viewmodels
@using Website.Common.Enums
@using ValueType = Website.Common.Enums.ValueType
@model ValueOverviewViewModel

<div class="container">
    <div class="row">
        <div class="col s12">
            <h1>Values overview</h1>

            @Render.FloatingButton(Url.Action("create", "value", new { Area = "Cystem" }), "add")

            <table>
                <tbody>
                    @foreach (Value value in Model.Values)
                    {
                    <tr>
                        <td>@value.Id</td>
                        <td>@value.Attribute.Label</td>

                        <td>
                            @switch (value.Type)
                            {
                                case ValueType.StringValue:@value.String break;
                                case ValueType.SerializedStringValue:@value.SerializedString break;
                                case ValueType.IntValue: @value.Int break;
                                case ValueType.RelatedValue: @value.Int break;
                                case ValueType.RelatedAttribute: @value.Int break;
                            }
                        </td>
                        <td>@await Render.EditButton("/cystem/value/edit/", new { Id = value.Id }, "")</td>
                        <td>@await Render.DeleteModalButton("/cystem/attribute/delete/", new { Id = value.Id }, "", "delete", DisplaySetting.Render, ElementAction.None)</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>