@using Website.Common.Enums
@using Website.Common.Viewmodels
@using Website.Controllers
@using Website.Controllers.Cystem
@using Microsoft.AspNetCore.Mvc
@model ActionViewModel

@if(Model.JsPage) {
@:<div class="content" data-url="@(Url.Action<CommonController>(c => c.Header()))" action-type="@ElementAction.Reload">
}
    <nav>
        <div class="container">
            <div class="row">
                <div class="col s12">
                    @(Html.ActionLink<CystemController>("Overzicht", c => c.Index(With.No<BasicViewModel>()), new { }, new { @class = "ajax-get brand-logo" }))
                    <a href="#" data-target="nav-mobile" class="sidenav-trigger hide-on-large-and-up"><i class="material-icons">menu</i></a>

                    <ul class="right hide-on-med-and-down">
                        <li>@(Html.ActionLink<CystemController>("Systeem", c => c.Index(With.No<BasicViewModel>()), new { }, new { @class = "ajax-get" }))</li>
                        <li>@(Html.ActionLink<DailyEggController>("Legpercentage", c => c.Index(null), new { }, new { @class = "ajax-get" }))</li>
                        <li>@(Html.ActionLink<DeadChickenController>("Dode kippen", c => c.Index(null), new { }, new { @class = "ajax-get" }))</li>
                    </ul>
                </div>
            </div>
        </div>
    </nav> 

    <ul id="nav-mobile" class="sidenav">
        <li>@(Html.ActionLink<CystemController>("Systeem", c => c.Index(With.No<BasicViewModel>()), new { }, new { @class = "ajax-get" }))</li>
        <li>@(Html.ActionLink<DailyEggController>("Legpercentage", c => c.Index(null), new { }, new { @class = "ajax-get" }))</li>
        <li>@(Html.ActionLink<DeadChickenController>("Dode kippen", c => c.Index(null), new { }, new { @class = "ajax-get" }))</li>
    </ul>
@if (Model.JsPage)
{
@:</div>
}
