@using HtmlHelpers
@using Website.Common.Enums
@using Website.Common.Viewmodels
@model ActionViewModel
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment HostingEnvironment

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Website</title>

        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <environment names="Development">
            @*@Bundler.Unpack(HostingEnvironment.ContentRootPath, "/css/cystem.css", Context)*@
            <link rel="stylesheet" type="text/css" href="~/css/cystem.css" asp-append-version="true" />
        </environment>

        <environment names="Staging,Production">
            <link rel="stylesheet" type="text/css" href="~/css/cystem.min.css" asp-append-version="true" />
        </environment>

        @RenderSection("Style", required: false)
    </head>

    <body>
        <div class="header-space"></div>

        <div class="component" data-type="@ComponentTarget.Main">
            <div class="content" data-url="@Model.Url">
                @RenderBody()
            </div>
        </div>

        <div class="footer-space"></div>

        <header>
            <div class="component z-depth-1" data-target="@ComponentTarget.Main">
                <div class="content load" data-url="/cystem/header/" data-action="@ComponentAction.LoadSilent" data-target="@ComponentTarget.Self">

                </div>
            </div>
        </header>

        <footer>
            <div class="component z-depth-1" data-target="@ComponentTarget.Main">
                <div class="content load" data-url="/cystem/footer/" data-action="@ComponentAction.LoadSilent" data-target="@ComponentTarget.Self">

                </div>
            </div>
        </footer>

        <div class="component z-depth-1">
            <div class="content load" data-url="/cystem/overlay/" data-action="@ComponentAction.LoadSilent"></div>
        </div>

        <div class="component z-depth-1">
            <div class="content load" data-url="/cystem/modal/" data-action="@ComponentAction.LoadSilent"></div>
        </div>

        <div class="component z-depth-1" data-target="@ComponentTarget.Main">
            <div class="content load" data-url="/cystem/floating-action-button/" data-action="@ComponentAction.LoadSilent" data-target="@ComponentTarget.Self"></div>
        </div>

        <environment names="Development">
            <script src="~/lib/jquery/jquery.min.js"></script>
            @Bundler.Unpack(HostingEnvironment.ContentRootPath, "/js/cystem.js", Context)
        </environment>

        <environment names="Staging,Production">
            <script src="~/lib/jquery/jquery.min.js"></script>
            <script src="~/js/cystem.min.js" async="async" defer="defer" asp-append-version="true"></script>
        </environment>

        @RenderSection("Scripts", required: false)
        @Html.Hidden("Layout", Layouts.CystemLayout)
    </body>
</html>