@using HtmlHelpers
@using Website.Common.Enums
@using Website.Common.Viewmodels
@model ActionViewModel
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment HostingEnvironment

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> @ViewData["Title"] - Website </title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <environment names="Development">
        @*Bundler.Unpack(HostingEnvironment.ContentRootPath, "/css/website.css", Context)*@
        <link rel="stylesheet" type="text/css" href="~/css/website.css" asp-append-version="true" />
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" type="text/css" href="~/css/website.min.css" asp-append-version="true" />
    </environment>

    @RenderSection("Style", required: false)
</head>

<body>
    <div class="header-space"></div>

    <div class="component-wrapper main-component">
        <div class="component" data-url="@Model.Url" data-on-result="@ComponentAction.Reload">
            @RenderBody()
        </div>
    </div>

    <div class="footer-space"></div>

    <header>
        <div class="component-wrapper z-depth-1" data-target="@TargetComponent.Main">
            <div class="component load" data-url="/cystem/header/" data-on-result="@ComponentAction.Load">

            </div>
        </div>
    </header>

    <footer>
        <div class="component-wrapper z-depth-1" data-target="@TargetComponent.Main">
            <div class="component load" data-url="/cystem/footer/" data-on-result="@ComponentAction.Load">

            </div>
        </div>
    </footer>

    <div class="component-wrapper z-depth-1">
        <div class="component load" data-url="/cystem/overlay/" data-on-result="@ComponentAction.Load"></div>
    </div>

    <div class="component-wrapper z-depth-1">
        <div class="component load" data-url="/cystem/modal/" data-on-result="@ComponentAction.Load"></div>
    </div>

    <div class="component-wrapper z-depth-1">
        <div class="component load" data-url="/cystem/floating-action-button/" data-on-result="@ComponentAction.Load"></div>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/jquery.min.js"></script>
        @Bundler.Unpack(HostingEnvironment.ContentRootPath, "/js/cystem.js", Context)
        @*<script src="~/js/cystem.min.js" async="async" defer="defer" asp-append-version="true"></script>*@
    </environment>

    <environment names="Staging,Production">
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/js/cystem.min.js" async="async" defer="defer" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
    @Html.Hidden("Layout", Layouts.WebsiteLayout)
</body>
</html>